.homeRoot{
    background-color: #FFF5E4;
    color: #CD5C08;
    height: 100vh;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 5%;
}

.headerC{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.headerR{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}